.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.personal_data {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.title_section {
  opacity: 0.6;
  margin-bottom: 30px;
}
.inp_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.inp_wrapper div {
  margin: 5px;
}
.wrapper_pk_settings {
  width: 256px;
  position: fixed;
}
.btn_open_settings {
  width: 70px;
  margin: 4px;
  background: white;
  color: black;
}
.menu {
  height: 100vh;
}
.favorites_list {
  width: 100%;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
}
.review {
  width: 40em;
}
.review_img {
  width: 100px;
}
.popover_orders {
  width: 250px;
}
