.wrapper_cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart {
  border-radius: 10px;
  height: 300px;
  margin: 10px;
  border: 0.3px solid rgb(224, 224, 225);
  display: flex;
  height: fit-content;
  padding: 10px;
}
.carts {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 90vh;
}
.cart_options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.cart_options button {
  margin: 0 10px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.favorites {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}
.favorites_active {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  color: #f94f0c;
  cursor: pointer;
}
.get_order {
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.get_order_price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 150px;
  font-size: 25px;
  color: #f94f0c;
}
.get_order_price span {
  width: 40px;
}
.get_order_btn_groups {
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
}
.get_order_btn_groups button {
  margin-top: 10px;
}
.about_order {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.order_contacts {
  width: 40%;
}
.units {
  margin: 0 3px;
  font-size: 15px;
  color: #fa8a5e;
}
.inp {
  height: 32px;
  align-self: flex-end;
}
.spinner {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 30px;
  color: lightgray;
}
.layout {
  padding: 10px;
}
.price {
  color: #f94f0c;
}
@media only screen and (max-width: 1024px) {
  .wrapper_cart {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .cart {
    height: auto;
    margin: 10px 0;
  }

  .carts {
    height: auto;
    overflow: unset;
  }

  .get_order {
    height: auto;
  }

  .get_order_price {
    padding: 10px;
    font-size: 20px;
  }

  .get_order_btn_groups {
    padding: 10px;
  }

  .about_order {
    padding: 10px;
    flex-direction: column;
  }

  .order_contacts {
    width: 100%;
  }

  .units {
    font-size: 12px;
  }

  .inp {
    height: auto;
    margin-top: 5px;
  }

  .spinner {
    font-size: 20px;
  }
}
