.catalog {
  display: flex;
}
.menu {
  height: 100vh;
  width: 220px;
}
.icon_sort {
  font-size: 22px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: inherit;
  width: 100%;
  margin-left: 50px;
}
.btn_groups {
  display: flex;
  justify-content: start;
  align-items: center;
}
.btn_groups_horizontal {
  display: flex;
  flex-direction: column;
}
.btn_groups_horizontal button {
  margin-top: 5px;
}
.btn_groups_modal {
  position: absolute;
  display: flex;
  left: 50%;
  right: 50%;
  justify-content: center;
  height: 32px;
  bottom: 20px;
}
.cards_table {
  margin-right: 50px;
  display: grid;
  width: 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100%;
  margin-top: 10px;
}

.card_horizontal {
  width: 90%;
  margin-top: 10px;
}
.card_ul {
  margin-top: 20px;
  list-style-type: none;
}
.horizontal_description {
  flex: 1;
  padding: 10px;
}

.horizontal_options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow: scroll;
  width: 90vw;
}
.reviews button {
  width: 150px;
  margin: 5px 0;
}
.review {
  border: 0.5px solid lightgray;
  padding: 5px;
  border-radius: 5px;
}
.review_form {
  width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn_groups_review {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1800px) {
  .cards_table {
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
  }
}
@media (max-width: 1500px) {
  .cards_table {
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }
}
@media (max-width: 1000px) {
  .cards_table {
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }
}
.single_review_user_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}
.single_review_user_name_ing_wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}
.comparison_wrapper {
  position: relative;
}
.comparison_empty {
  margin-top: 15%;
}
@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
    position: relative;
  }

  .wrapper {
    margin-left: 0;
  }

  .cards_table {
    margin-right: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .card_horizontal {
    width: 100%;
  }

  .horizontal_description {
    padding: 5px;
  }

  .btn_groups_modal {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    display: block;
  }
  .catalog {
    flex-direction: column;
  }
  .menu {
    width: 100%;
  }
  .icon_sort {
    font-size: 18px;
  }
  .pagination {
    display: none;
  }
  .cards_table {
    grid-template-columns: repeat(1, 1fr);
  }
  .more_btn {
    display: none;
  }
}
