.request_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.admin_btn_group {
  display: flex;
}
.inpWrapper {
  height: 60px;
  width: 400px;
}
.section_radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.select_maker {
  width: 400px;
  margin-bottom: 10px;
}
.label {
  color: red;
  opacity: 0.5;
  width: 400px;
}
.checkbox {
  margin-bottom: 15px;
}
.title {
  font-size: 30px;
  margin: 15px;
}
.btn_submit {
  margin-top: 50px;
}
.radio_btn {
  margin: 15px;
}
.btn_120 {
  width: 120px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 450px) {
  .inpWrapper {
    height: 60px;
    width: 300px;
  }
  .admin_btn_group {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 14px;
    margin: 5px;
  }
  .inpWrapper {
    height: 60px;
    width: 300px;
  }
  .label {
    color: red;
    opacity: 0.5;
    width: 300px;
  }
  .select_maker {
    width: 300px;
    margin-bottom: 10px;
  }
}
