.layout {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.content {
  margin: 24px 16px 0;
  height: auto;
  align-content: center;
}

.content_div {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding: 0rem;
  font-size: medium;
  font-weight: 400;
  align-items: center;
}

.content h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  width: 70%;
}

.content_div p {
  margin-bottom: 2rem;

  width: 70%;
  text-align: justify;
  font-weight: 500;
  align-content: center;
  letter-spacing: 0.5px;
}

.wrapper_div ul {
  line-height: 1.9;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  width: 60%;
  text-align: justify;
  align-content: center;
  font-size: medium;
  letter-spacing: 0.5px;
}

.wrapper_div {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 105%;
}

.banner {
  margin-bottom: 1rem;
}

.Header_Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.Header_Wrapper h2 {
  flex-grow: 1;
}

.history {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 110%;
  justify-content: center;
  align-items: center;
}

.wrapper_video {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
