.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.header_btn_group {
  display: flex;
  justify-content: center;
}
.header_login_icon {
  font-size: 25px;
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_login_icon:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.width90 {
  width: 90px;
}
.cart {
  font-size: 35px;
  opacity: 0.5;
  cursor: pointer;
}
.cart:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.dark {
  color: white;
}
.light {
  color: black;
}
.home_icon {
  font-size: 20px;
}
.ava {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .header {
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header_btn_group {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .header_login_icon {
    font-size: 20px;
  }
  .width90 {
    width: 70px;
  }
  .cart {
    font-size: 30px;
  }
  .home_icon {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    height: fit-content;
  }
  .header_login_icon {
    font-size: 18px;
  }
  .width90 {
    width: 90px;
  }
  .cart {
    font-size: 25px;
  }
  .home_icon {
    font-size: 16px;
  }
}

@media only screen and (max-width: 360px) {
  .header {
    height: fit-content;
  }
  .header_login_icon {
    font-size: 16px;
  }
  .width90 {
    width: 50px;
  }
  .cart {
    font-size: 20px;
  }
  .home_icon {
    font-size: 14px;
  }
}
