.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: default;
  bottom: 0;
}
.footer_span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.author {
  margin-left: 5px;
}
.footer_icon {
  color: #6e5494;
  font-size: 20px;
  margin-left: 5px;
}
.year {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .footer_span {
    display: none;
  }
}
